4DV507.rd222dv.A2/.classpath
4DV507.rd222dv.A2/.project
4DV507.rd222dv.A2/.settings
4DV507.rd222dv.A2/.DS_Store
4DV507.rd222dv.A2/target
4DV507.rd222dv.A2/bin
4DV507.rd222dv.A2/target/generated-sources/.DS_Store
4DV507.rd222dv.A2/target/generated-sources/antlr4/.DS_Store
4DV507.rd222dv.A2/target/generated-sources/antlr4
